.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-body {
  padding: 25px 25em;
}

.m-0 {
  margin: 0;
}

.m-t-15 {
  margin-top: 15px;
}

.pagination-items {
  color: grey !important;
  background-color: #fff !important;
  font-size: 12px !important;
  line-height: 20px !important;
  margin-left: 10px !important;
  border: none !important;
}
